<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Memory</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row pm-header-row" ng-controller="MainController">
                <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">menu</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                    <li class="mdl-menu__item" ng-click="gotoPage('/memory')">Game</li>
                    <li class="mdl-menu__item" ng-click="gotoPage('/winners')">Winners</li>
                    <li class="mdl-menu__item" ng-click="gotoPage('/choosePokemon')">Select Pokemon</li>
                </ul>
                <span class="mdl-layout-title pm-app-title">Poke Memo</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/#/memory">Game</a>
                    <a class="mdl-navigation__link" href="/#/winners">Winners</a>
                    <a class="mdl-navigation__link" href="/#/choosePokemon">Select Pokemon</a>
                </nav>
                <button class="mdl-button mdl-js-button mdl-color-text--indigo-50" ng-click="startGame()">
                    Start
                </button>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <ng-view></ng-view>
            </div>
        </main>
    </div>
    <!-- Angular -->
    <script src="https:/cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="https:/cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <!-- this app -->
    <script src="./js/app.js"></script>
    <script src="./js/memory/memoryController.js"></script>
    <script src="./js/memory/memoryService.js"></script>
    <script src="./js/pokemonList/pokemonListController.js"></script>
    <script src="./js/topten/toptenController.js"></script>
    <script src="./js/topten/toptenListDir.js"></script>
    <script src="./js/pokemonInfo/pokemonInfoDir.js"></script>
    <script src="./js/services/webService.js"></script>
    <script src="./js/services/gamePokemonService.js"></script>
    <script src="./js/services/toptenService.js"></script>
</body>

</html>
