<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-controller="memoryController">
    <!-- <div class="container">
        <div class="row">
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
        </div>
        <div class="row">
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
        </div>
        <div class="row">
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
        </div>
        <div class="row">
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
            <span class="cell"></span>
        </div>
    </div> -->
    <header>
        <div>
            <div>Found: {{matchCount}}</div>
            <div>Tried: {{tryCount}}</div>
        </div>
        <h2>Memory</h2>
        <div>Time: {{time}}</div>
    </header>
    <div class="container">
        <div class="row" ng-repeat="row in table track by $index">
            <span class="cell" ng-repeat="col in row.row track by $index">
                <!-- <span>{{col.txt}}</span> -->
            <img class="cellImg" ng-src="{{col.img}}" ng-click="toggleSide(col)">
            </span>
        </div>
        <div>{{infoText}}</div>
        <div class="infoRow">
            <img class="infoImg" ng-src="{{pokemon.img}}">
            <div>
                <h4>{{pokemon.name}}</h4>
                <P>{{pokemon.typesStr}}</P>
                <P>{{pokemon.abilitiesStr}}</P>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/memoryController.js"></script>
    <script src="./js/memoryService.js"></script>
    <script src="./js/webService.js"></script>
</body>

</html>
