html,
body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

h2,
h3,
h4,
div,
p {
    font-family: verdana;
}

p {
    margin: 2%;
}

h4 {
    margin: 4% 0px;
}

header {
    width: 90% margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pm-header-row {
    padding-left: 16px;
}

.pm-app-title {
    padding-left: 4px;
}

.error-text {
    color: red;
}

.info-text {
    text-align: center;
}

.score-header {
    margin: 2% auto;
}

.pm-game-container {
    width: 96%;
    margin: 0px auto;
}

.pm-board-container {
    width: 100%;
    max-width: 500px;
    height: 50%;
    padding: 0px;
    margin: 0px auto;

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pm-info-container {
    width: 100%;
    max-width: 500px;
    padding: 0px;
    margin:0px auto;
}

.row {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.cell {
    padding: 2%;
    margin: 2%;
    width: 22%;
    height: 22%;
    text-align: center;
}

.cellImg {
    width: 90%;
    height: 90%;
    margin: 2%;
}

.menu {
    width: 100%;
    height: 50px;
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

.menu ul li a {
    text-decoration: none;
}

.poke-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

