html,
body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

h2,
h3,
h4,
div,
p {
    font-family: verdana;
}

p {
    margin: 2%;
}

h4 {
    margin: 4% 0px;
}

header {
    width: 90% margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pm-header-row {
    padding-left: 16px;
}

.pm-app-title {
    padding-left: 4px;
}

.error-text {
    color: red;
}

.info-text {
    text-align: center;
}

.pm-score-header {
    margin: 2% auto;
}

.pm-game-container {
    width: 96%;
    margin: 0px auto;
}

.pm-board-container {
    width: 100%;
    max-width: 500px;
    height: 50%;
    padding: 0px;
    margin: 0px auto;

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pm-info-container {
    width: 100%;
    max-width: 500px;
    padding: 0px;
    margin:0px auto;
}

.pm-row {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.pm-cell {
    padding: 2%;
    margin: 2%;
    width: 22%;
    height: 22%;
    text-align: center;
}

.pm-cell img {
    width: 90%;
    height: 90%;
    margin: 2%;
}

.pm-list-page-container {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

.pm-list-page-container .mdl-card__title-text {
    font-size: 20px;
}

.pm-list-page-container .mdl-card__supporting-text p {
    margin-left: 0px;
}

.pm-name-and-button {
    display: inline-block;
}


