<h4 ng-if="authData">You are logged in as: {{ authData.password.email }}</h4>
<div class="mdl-card pm-list-page-container">
    <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">{{myPokemons.length}} Pokemon Selected</h4>
        <h4 class="mdl-card__subtitle-text">(max 8)</h4>
    </div>
    <div class="mdl-card__supporting-text">
        <span ng-repeat="mpokemon in myPokemons | orderBy:'name'" ng-click="addPokemonAndGetInfo(mpokemon)">
            <span class="pm-name-and-button">
                {{mpokemon.name}}
                <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="removePokemon(mpokemon)">
                     <i class="material-icons">delete</i>
                </button>
            </span>
        </span>
        <p><span>Add Pokemon: </span>
            <select ng-options="pokemon.name for pokemon in pokemonList | orderBy:'name'" ng-model="pokemon" ng-change="addPokemonAndGetInfo(pokemon, true)" ng-disabled="maxNoOfPokemonSelected()"></select>
        </p>
        <p class="error-text" ng-if="errorText">{{errorText}}</p>
    </div>
</div>
<div class="pm-list-page-container">
    <pokemon-info pokemon="currentPokemon"></pokemon-info>
</div>
