html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
//font-size: 100%;
//font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

main, ng-view {
    height: 100%;
    width: 100%;    
}

h2,
h3,
h4,
div,
p {
    font-family: verdana;
}

p {
    margin: 2%;
}

h4 {
    margin: 4% 0px;
}

header {
    width: 90% margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pm-header-row {
    padding-left: 16px;
}

.pm-app-title {
    padding-left: 4px;
}

.error-text {
    color: red;
}

.info-text {
    margin: 2% auto;
}

.pm-score-header {
    margin: 2% auto;
}

.pm-game-container {
    width: 96%;
    height: 50%;
    margin: 0px auto;
}

.pm-board-container {
    width: 100%;
    height: 100%;
    max-width: 450px;
    padding: 0px;
    margin: 0px auto;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pm-info-container {
    width: 100%;
    max-width: 500px;
    padding: 0px;
    margin: 6% auto 0px auto;
}

.pm-row {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.pm-cell {
    margin: 2%;
    width: 22%;
    height: 80%;
    text-align: center;
}

.pm-cell img {
    width: 90%;
    height: 90%;
    margin: 2%;
}

.pm-list-page-container {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

.pm-list-page-container .mdl-card__title-text {
    font-size: 20px;
}

.pm-list-page-container .mdl-card__supporting-text p {
    margin-left: 0px;
}

.pm-name-and-button {
    display: inline-block;
}

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    /*width: 280px;
    height: 70px;*/
    width: 100%;
    height: 25%;
    position: relative;
    /*margin: 50px auto;*/
    margin: 0px auto;
}

.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
    -ms-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
}

.flip .card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1s;
    transition: 1s;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    -ms-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
    cursor: pointer;
}
